<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>ALS-Collaborative Korean</title>
        <link rel="stylesheet" href="/css/design.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <style>
        .btnanswer {
            position: absolute;
            height: 20%; 
            width: 20%;

        }
    </style>

    <% 
        if (image == undefined){
            var image = "";
        }
    %> 
    <body>
        <div class="VCcontainer">

            <!--Create ProgressBar on top-->
            <progress-bar progress = <%=progress%> title = "<%= title %>" ></progress-bar>   
            
            <!--Create infobox with question and possible answers-->
            <div class="infoBox" style="min-width: 75%; height: 65%; position: relative; overflow: hidden;">
                <h2 class="infoText" id = "infoText">
                    <%=question%>
                </h2>
                <h2 class="infoText" style="color: red;" id = "solution"></h2>
                <button id = "btn1" class="button btnanswer" onclick="choose(0);" style="left: 10%; bottom: 10%;">
                    <h2 class="infoText" style = "margin: 0; "> <%= answers[0] %> </h2>
                </button>
                <button id = "btn2" class="button btnanswer" onclick="choose(1);" style="left: 40%; bottom: 10%;">
                    <h2 class="infoText" style = "margin: 0;"> <%= answers[1] %> </h2>
                </button>
                <button id = "btn3" class="button btnanswer" onclick="choose(2);" style="left: 70%; bottom: 10%;">
                    <h2 class="infoText" style = "margin: 0;"> <%= answers[2] %> </h2>
                </button>
            </div>

            <div class="button" id="continue" style="position: absolute; left: 50%; top: 55%; transform: translate(-50%, -50%);">
                <b class = "infoText" style="font-size: 4vw;">Continue</b>
            </div>

            <!-- <div id = "feedback" class="infoBox" style="min-width: 75%; height: 60%; position: relative; overflow: hidden;">
                <h2 class="infoText" id = "feedbackText">
                    <%=feedback%>
                </h2>
            </div> -->

        </div>
    </body>
    <script>
        var alreadyChosen = false;
        $(function() {
            var img = "<%= image %>";
            if (img.length > 0){
                $(".infoBox").append(`<img id = "img" src="${img}" alt="" style="height: 25%;">`)
            }

            $("#continue").hide();

            $("#continue").on("click", function(){
                window.location.replace(`/exercises`);
            });

        });



        function choose(choice){
            if (alreadyChosen){
                return;
            }
            if (choice == "<%= correctAnswer %>"){
                window.location.replace(`/appleCorrect`);
            }
            else{
                alreadyChosen =true;
                var name = "#btn" + (choice + 1);
                $(name).css("background-color", "red");
                $(name).css("border-color", "red");
                $("#infoText").text("<%= feedback %>")
                $("#continue").show();
                $("#img").hide();
            }
        }
    </script>
    <script src ="/js/progressBar.js"></script>
</html>
