<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALS-Collaborative Korean</title>
        <link rel="stylesheet" href="/css/design.css" type="text/css">
        <link rel="stylesheet" href="/css/task1Elements.css" type="text/css">
        
        <!-- Jquery file and lib -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src = "/js/task3.js"></script>

        <!-- For draggable -->
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
    </head>
    <body>
        <!--Create ProgressBar on top-->
        <progress-bar progress = <%=progress%> title = "<%= title %>" ></progress-bar> 

        <!-- Create english-korean label on top -->
        <div class="taskLabel" style = "top: 15%; left: 50%; transform: translate(-50%, 0);"> <p class="taskLabelText"><%= word %></p> </div>

        <!--Create empty labels-->
        <div id = "e0" class="emptyLabel"></div>
        <div id = "e1" class="emptyLabel"></div>

        <!-- Create Korean labels --> 
        <div id = "k0" class="koreanLabel">
            <h1 class="labelText"><%= koreanLabels[0] %></h1>
        </div>
        <div id = "k1" class="koreanLabel">
            <h1 class="labelText"><%= koreanLabels[1] %></h1>
        </div>
        <div id = "k2" class="koreanLabel">
            <h1 class="labelText"><%= koreanLabels[2] %></h1>
        </div>
        <div id = "k3" class="koreanLabel">
            <h1 class="labelText"><%= koreanLabels[3] %></h1>
        </div>
        <div id = "k4" class="koreanLabel">
            <h1 class="labelText"><%= koreanLabels[4] %></h1>
        </div>

        

        
        <button id = "check" class="button btnNext" onclick="check();" style = "top: 60%; left: 50%; transform: translate(-50%, 0);" >
            <h1 class="nextText">Check</h1>
        </button>

        
        <div id = "score" class = "score"> <b id = "scoreText" class="labelText"> </b></div>
        <button id = "continue" class="button btnNext" onclick="nextEx();" style = "top: 90%; left: 50%; transform: translate(-50%, -50%);" >
            <h1 class="nextText">Continue</h1>
        </button>
        
    </body>

    <script>
        var sol = "<%= solution%>";
        var solution = Array(sol.length);
        for (var i = 0; i<sol.length;i++){
            solution[i] = sol.charAt(i);
        }
    </script>
    <script src = "/js/progressBar.js"></script>
</html>