<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALS-Collaborative Korean</title>
        <link rel="stylesheet" href="/css/design.css" type="text/css">
        <link rel="stylesheet" href="/css/task1Elements.css" type="text/css">
        
        <!-- Jquery file and lib -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <script src = "/js/task1ex.js"></script>

        <!-- For draggable -->
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
    </head>
    <body>
        <% 
            var title = "Task 1: Vowels and consonants";
            var exercise = 0;
            var progress = 5;
            var english = ["aaa1", "aaa2", "aaa3", "aaa4"];
            var korean = ["aaa1", "aaa2", "aaa3", "aaa4", "aaa5"];
            var solution = "0123";
            var sequence = "0000";
        %>
        <!--Create ProgressBar on top-->
        <progress-bar progress = <%=progress%> title = "<%= title %>" ></progress-bar> 

        <!--Create empty labels-->
        <div id = "e0" class="emptyLabel"></div>
        <div id = "e1" class="emptyLabel"></div>
        <div id = "e2" class="emptyLabel"></div>
        <div id = "e3" class="emptyLabel"></div>

        <!--english labels-->
        <div id = "el0" class="englishLabel"><h1 class="labelText"><%= english[0] %></h1></div>
        <div id = "el1" class="englishLabel"><h1 class="labelText"><%= english[1] %></h1></div>
        <div id = "el2" class="englishLabel"><h1 class="labelText"><%= english[2] %></h1></div>
        <div id = "el3" class="englishLabel"><h1 class="labelText"><%= english[3] %></h1></div>

        <!-- Create Korean labels --> 
        <div id = "k0" class="koreanLabel">
            <h1 class="labelText"><%= korean[0] %></h1>
        </div>
        <div id = "k1" class="koreanLabel">
            <h1 class="labelText"><%= korean[1] %></h1>
        </div>
        <div id = "k2" class="koreanLabel">
            <h1 class="labelText"><%= korean[2] %></h1>
        </div>
        <div id = "k3" class="koreanLabel">
            <h1 class="labelText"><%= korean[3] %></h1>
        </div>
        <div id = "k4" class="koreanLabel">
            <h1 class="labelText"><%= korean[4] %></h1>
        </div>

        

        
        <button id = "check" class="button btnNext" onclick="check();" style = "top: 70%; left: 50%; transform: translate(-50%, 0);" >
            <h1 class="nextText">Check</h1>
        </button>
    </body>

    <script>
        var sol = "<%= solution%>";
        var solution = Array(sol.length);
        for (var i = 0; i<sol.length;i++){
            solution[i] = sol.charAt(i);
        }
    </script>
    <script src = "/js/progressBar.js"></script>
</html>